<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/mainCover.jpg);"
        data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>下载手机App 乐享赚翻天</h1>
                        <h2>全网最具公信力网投品牌</h2>
                        <p><a href="itms-services://?action=download-manifest&url=/"
                              class="btn btn-primary popup-vimeo">现在下载</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
