<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">QQ: 735557888</p>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <div id="fh5co-logo"><a href="/">成功彩票<span>.</span></a></div>
                </div>
                <div class="col-xs-7 text-right menu-1">
                    <ul>
                        <li class="active"><a href="http://cgcp88.com/chengGongCPLoginWeb/app/home?l=CN">网站主页</a></li>
                        <li><a href="http://cgcp88.com/chengGongCPLoginWeb/app/lottery">传统彩票</a></li>
                        <li><a href="http://cgcp88.com/chengGongCPLoginWeb/app/lottoFfcIg">官方彩票</a></li>
                        <li><a href="http://cgcp88.com/chengGongCPLoginWeb/app/lotto">香港彩票</a></li>
                        <li><a href="http://cgcp88.com/chengGongCPLoginWeb/app/live">真人视讯</a></li>
                        <li><a href="http://cgcp88.com/chengGongCPLoginWeb/app/electronicGameIG">电子游艺</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>